
<div class="nav">
  <ul>
    <li><strong>Summer's web</strong></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Portfolio</a></li>
  </ul>
</div>
<div class="container">
  <div class="icons">
    <div class="portfolio-file">
      <a href="#" class="file"
        ><img src="./assets/icons/heart-folder.png" alt="" /><span></span>
          Portfolio
        </span></a
      >
      <a href="#" class="file"
        ><img src="./assets/icons/smiley-folder.png" alt="" /><span></span>
          Documets
        </span></a
      >
    </div>

    <div class="profile-browser">
      <a href="#" class="browser"
        ><img src="./assets/icons/browser.png" alt="" /><span
          >Profile Browser</span
        ></a
      >
    </div>
  </div>

  <div class="dock-container">
    <div class="rocket_dock">
      <ul>
        <li>
          <span>Elated</span>
          <a href="#"><img src="./assets/icons/elated.png" alt="" /></a>
        </li>
        <li>
          <span>In Love</span>
          <a href="#"><img src="./assets/icons/cute.png" alt="" /></a>
        </li>
        <li>
          <span>Happy</span>
          <a href="#"><img src="./assets/icons/happy.png" alt="" /></a>
        </li>
        <li>
          <span>Hungry</span>
          <a href="#"><img src="./assets/icons/hungry.png" alt="" /></a>
        </li>

        <li>
          <span>Whatever</span>
          <a href="#"><img src="./assets/icons/whatever.png" alt="" /></a>
        </li>

        <li>
          <span>Sad</span>
          <a href="#"><img src="./assets/icons/sad.png" alt="" /></a>
        </li>
        <li>
          <span>Sick</span>
          <a href="#"><img src="./assets/icons/sick.png" alt="" /></a>
        </li>
      </ul>
      <!-- https://www.youtube.com/watch?v=Schjds08JbA&list=WL&index=1 -->
    </div>
  </div>
</div>
