.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px 40px;
  gap: 10px
}


.icons .portfolio-file {
  padding-right: 10px;
}

.icons a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: white;
  min-width: 100px;
  text-shadow: 2px 2px 10px rgba(0,0,0,.7);
}


.icons img {
  width: 70px;
  height: 100px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .7));
}

.icons .portfolio-file a:active, .icons .profile-browser a:active {
  background-color: rgba(247, 154, 227, 0.412);
  transform: scale(1.1);
}
