
.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  /* background-color: rgba(255, 179, 238, 0.8); */
  padding: 8px 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 15px;
  padding-left: 0;
}

.navbar ul li {
  font-family: 'Helvetica Neue';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  color: rgb(150, 150, 150);
}

.navbar ul li a{
  font-family: 'Helvetica Neue';
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar ul li a:hover{
  color: rgb(255, 159, 236);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
